extends layout

block headerscripts

block scripts

block content
    p=symbol

    table
        thead
            tr
                th='Datum'
                th='Schluss'
                th='Währung'
        tbody
            - for (let idx in tabledata)
                tr
                    td=tabledata[idx].date
                    td=tabledata[idx].close
                    td=tabledata[idx].market
